# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Dự án 1\DuAn1_QLTV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
